@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,500,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2؟family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,500,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abel:wght@300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2؟family=Roboto:ital,wght@0,100;0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
@-webkit-keyframes btn-ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
@keyframes btn-ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Abel", sans-serif;
  background-color: #ffffff;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.25s color 0.25s;
  transition: background-color 0.25s color 0.25s;
}

button,
span,
div,
input {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

input {
  border: 1px solid #cccdcf;
  width: 38rem;
  line-height: 5rem;
  border-radius: 0.7rem;
  margin: 1rem 0;
  padding: 0 1rem;
}

input:focus {
  -webkit-box-shadow: 0 0 0 2px #102851;
          box-shadow: 0 0 0 2px #102851;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 6rem;
}

.btn {
  font-family: inherit;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

.btn-primary {
  padding: 1rem 2.5rem;
  margin: 1rem;
  background-color: #8cb081;
  color: #ffffff;
}

.btn-primary:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary:hover i {
  color: #8cb0e7;
}

.btn-secondary {
  -webkit-box-shadow: 0 0 0 0.2rem #8cb0e7;
          box-shadow: 0 0 0 0.2rem #8cb0e7;
  padding: 0.8rem 1rem;
  margin: 0.5rem;
  color: #8cb0e7;
  font-size: 1.2rem;
}

.btn-secondary:hover {
  transform: scale(1.13);
  -webkit-transform: scale(1.13);
  background-color: transparent;
  color: #8cb0e7;
}

.btn-teritary {
  padding: 1rem 2.5rem;
  margin: 1rem;
  border: unset;
  background: #014ed5;
  color: #ffffff;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 4px 8px 8px -1px rgba(0, 0, 0, 0.27);
  box-shadow: 1px 1px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-transition: all 250ms;
  transition: all 250ms;
  overflow: hidden;
}

.btn-teritary::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #102851;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.btn-teritary:hover {
  color: #e8e8e8;
}

.btn-teritary:hover::before {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */